[Unit]
Description=Django service on port %i

# Requirements
Requires=etcd.service
Requires=docker.service
Requires=django-discovery@%i.service
Requires=postgres@*.service

# Dependency ordering
After=postgres@*.service
After=etcd.service
After=docker.service
Before=django-discovery@%i.service

[Service]
# Let processes take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker kill django.%i
ExecStartPre=-/usr/bin/docker rm django.%i
ExecStartPre=/usr/bin/docker pull giorgos/django
ExecStart=/usr/bin/docker run --name django.%i -p ${COREOS_PRIVATE_IPV4}:%i:8000 \
giorgos/django /usr/local/bin/confd-watch

# Stop
ExecStop=/usr/bin/docker stop django.%i